
/* Parte fixa do site */

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* tira o sublinhado do link */
    text-decoration:none;
    /* tirar os pontinhos da lista */
    list-style:none; 
}
#imggeral{
    height: 150px;
    width: 150px;
    margin-bottom: -35px;
    margin-top: -10px;
    margin-left: 100px;
    transition: 1.5s;
}
#headergeral{
    background-color: rgb(206, 140, 151);
    box-shadow: 5px 8px 20px 0px  rgb(167, 77, 92);
    transition: 1.5s;
}
.ulgeral{
    display: flex;
    justify-content: center;
    gap: 35px;
    text-shadow: 2px 2px 8px rgba(112, 21, 74, 0.815);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ligeral{
    font-size: 22px;
    color: white;
    /* Peso da fonte */
    font-weight: 800;
    margin-top: -65px;
}
.ligeral:hover{
    color:  rgb(252, 205, 205);
}
#hr1{
    border: 1px solid rgb(255, 232, 232);
}
.final{
    /* largura */
    width: 100%;
    background-color: rgb(206, 140, 151);
    box-shadow: 0 -8px 50px rgb(167, 77, 92);
}
#hr2{
    border: 1px solid rgb(255, 232, 232);
}
#footer{
    display: flex;
    justify-content: center;
    padding: 8px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Conteudo e configurações da página index */

#bodyindex {
    background-image:linear-gradient(rgba(146, 86, 98, 0.219), rgba(240, 175, 226, 0.5)), 
    url('imgs/fundosite.png');
    background-size: cover; /* Faz a imagem cobrir todo o corpo */
    background-attachment: fixed; /* Opcional: mantém a imagem fixa ao rolar */
    color: white; /* Para garantir que o texto sobre o fundo escuro seja legível */
}
#imgindex {
    width: 150px;
    margin-bottom: -35px;
    margin-top: -10px;
    transition: 1.5s;
}
#logoindex{
    display: flex;
    justify-content: center;
}
#headerindex{
    background-color: rgb(206, 140, 151);
    box-shadow: 0 8px 50px rgb(167, 77, 92);
    transition: 1.5s;
}
.hss{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(112, 21, 74, 0.815);
}
.text {
    font-size: 100px;
    margin-top: 80px;
}
.text2{
    font-size: 23px;
    margin-top: 30px;
}
.text3{  
    font-size: 20px;   
    margin: 50px; 
}
.link{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
#clic:hover{
    font-size:35px;
    color:  rgb(255, 194, 194);
}
#clic{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    text-shadow: 2px 2px 8px rgba(112, 21, 74, 0.815);
    box-shadow: 5px 8px 20px 0px  rgb(167, 77, 92);
    border: 3px solid white;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 100px;

}

/* Conteudo e configurações da página introdução */

#bodyintrodução{
    background-image:
    url('imgs/fundointro1.jpg');
    background-size: cover; /* Faz a imagem cobrir todo o corpo */
    background-attachment: fixed; /* Opcional: mantém a imagem fixa ao rolar */
    color: white; /* Para garantir que o texto sobre o fundo escuro seja legível */
}
.introdução{
    font-size: 25px;
    color:  rgb(252, 205, 205);
    margin-top: -4px;
}
.hrin{
    border: 2px solid rgb(253, 238, 238);
}
.paitextintro{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 8px  rgba(167, 77, 92, 0.596);
    text-align: center;
    color: rgb(122, 41, 75);
}
.h1intro{
    box-shadow: 5px 8px 20px 0px  rgb(167, 77, 92);
    margin: 70px;
    border-radius: 25px;
    background-color:  rgb(252, 242, 242);
    font-size: 80px;
    padding: 30px;
}
.h1intro:hover{
    transform: scale(1.05);
}
.h2intro{
    margin: 50px;
    font-size: 30px;
}
.ulintro{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-left: 60px;
    margin-right: 60px;

}
.liintro{
    text-shadow: none;
    font-weight: 800;
    font-size: 20px;
    background-color:  rgb(252, 242, 242);
    border-radius: 10px;
    box-shadow: 5px 8px 20px 0px  rgb(167, 77, 92);
    color: rgb(122, 41, 75);
    padding: 20px;
    margin-top: 50px;
    text-shadow: 2px 2px 8px  rgba(167, 77, 92, 0.418);
    margin-bottom: 50px;
    border: 2px solid   rgb(167, 77, 92);
}
.liintro:hover{
    transform: scale(1.05);
    color: rgb(163, 93, 122);
}
.h3intro{
    margin: 50px;
    font-size: 30px;
}

/* Conteudo e configurações da página curvaturas */

#bodycurvaturas{
    background-image:
    url('imgs/fundocurv.jpg');
    background-size: cover; /* Faz a imagem cobrir todo o corpo */
    background-attachment: fixed; /* Opcional: mantém a imagem fixa ao rolar */
    color: white; /* Para garantir que o texto sobre o fundo escuro seja legível */
}
.curvaturas{
    font-size: 25px;
    color:  rgb(252, 205, 205);
    margin-top: -4px;
}
.hrcurv{
    border: 2px solid rgb(253, 238, 238);
}

.divpaicurv{
    text-shadow: 2px 2px 8px  rgba(167, 77, 92, 0.418);
    text-align: center;
    color: rgb(122, 41, 75);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hs1{
    box-shadow: 5px 8px 20px 0px  rgb(167, 77, 92);
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 25px;
    background-color:  rgb(252, 242, 242);
}
.h1curv{
    margin-top: 70px;
    font-size: 80px;
    padding-top: 30px;
}
.h1curv1{
    margin-bottom: 70px;
    font-size: 40px;
    padding-bottom: 30px;
}
.hs1:hover{
    transform: scale(1.05);
}
.h4curv1{
    font-weight: 800;
    font-size: 40px;
}
.h4curv{
    font-size: 25px;
    margin: 50px;
}
.imgcurv{
    margin-bottom: 50px;
    border-radius: 25px;
    box-shadow: 5px 8px 20px 0px  rgb(167, 77, 92);

}
.h2curv{
    font-weight: 800;
    margin: 30px;
    font-size: 40px;
}
.h3curv{
    margin: 30px;
    font-size: 25px;
}
.table{
    font-size: 25px;
    margin: 80px;
    box-shadow: 5px 8px 20px 0px  rgb(167, 77, 92);
    border-radius: 10px;
    background-color:  rgb(252, 242, 242);
    
}
.table:hover{
    transform: scale(1.05);
}
.thead{
    font-size: 40px;
    background-color:  rgb(252, 242, 242);

}
.th{
    font-weight: 800;
    border: 2px solid   rgb(167, 77, 92);
    padding: 15px;
    border-radius: 10px;
}
.td{
    padding: 25px;
    border: 2px solid   rgb(167, 77, 92);
    border-radius: 10px;
    font-weight: 500;
}

/* Conteudo e configurações da página produtos */

#bodyprodutos{
    background-image:
    url('imgs/fundopro1.jpg');
    background-size: cover; /* Faz a imagem cobrir todo o corpo */
    background-attachment: fixed; /* Opcional: mantém a imagem fixa ao rolar */
    color: white; /* Para garantir que o texto sobre o fundo escuro seja legível */
}

.produtos{
    font-size: 25px;
    color:  rgb(252, 205, 205);
    margin-top: -4px;
}
.hrpro{
    border: 2px solid rgb(253, 238, 238);
}
.paipro{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 8px  rgba(167, 77, 92, 0.596);
    text-align: center;
    color: rgb(122, 41, 75);
}
.h1pro{
    margin-top: 70px;
    font-size: 80px;
}
.h2pro{
    font-size: 40px;
}
.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    margin: 50px;
}
.card {
    background: #fff;
    border-radius: 10px;
    padding: 80px;
    box-shadow: 5px 8px 20px 0px  rgb(167, 77, 92);
    transition: 0.3s;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    width: 120px;
    margin-bottom: 15px;
}
.card h3 {
    color: #4CAF50;
}
.card p {
    color: #555;
    font-size: 14px;
}
.apro{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 8px  rgba(167, 77, 92, 0.596);
    text-align: center;
    color: rgb(122, 41, 75); 
    font-size: 40px;
    text-decoration: solid;
}
.hraa{
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-right: 300px;
    margin-left: 300px;

}
.apro:hover {
    transform: scale(1.05);
}

/* Conteudo e configurações da página redes */

#bodyredes{
    background-image:
    url('imgs/fundoredes1.jpg');
    background-size: cover; /* Faz a imagem cobrir todo o corpo */
    background-attachment: fixed; /* Opcional: mantém a imagem fixa ao rolar */
    color: white; /* Para garantir que o texto sobre o fundo escuro seja legível */
}

.redes{
    font-size: 25px;
    color:  rgb(252, 205, 205);
    margin-top: -4px;
}
.hrredes{
    border: 2px solid rgb(253, 238, 238);
}
.pairedes{
    text-align: center;
    text-shadow: 2px 2px 8px  rgba(167, 77, 92, 0.418);
    color: rgb(122, 41, 75);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.h1redes{
    font-size: 80px;
    margin-top: 40px;
    margin-bottom: 80px;
}
#i{
    box-shadow: 5px 8px 20px 0px  rgb(167, 77, 92);
    font-size: 50px;
    margin: 30px;
    border: 5px solid rgb(253, 238, 238);
    padding: 40px;
    border-radius: 20px;
}
#i:hover{
    transform: scale(1.05);
}

